.jumbotron {
    height: 200px;
    color: rgb(227, 230, 245);
    background-color: rgb(72, 79, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}